<div class="hex-grid">
    <div class="hex-row">
        <div class="hex">
            <div class="hex top"></div>
            <div class="hex middle"></div>
            <div class="hex bottom"></div>
        </div>
        <div class="hex">
            <div class="hex top"></div>
            <div class="hex middle"></div>
            <div class="hex bottom"></div>
        </div>
        <div class="hex">
            <div class="hex top"></div>
            <div class="hex middle"></div>
            <div class="hex bottom"></div>
        </div>
    </div>
    <div class="hex-row even">
        <div class="hex">
            <div class="hex top"></div>
            <div class="hex middle"></div>
            <div class="hex bottom"></div>
        </div>
        <div class="hex">
            <div class="hex top"></div>
            <div class="hex middle"></div>
            <div class="hex bottom"></div>
        </div>
        <div class="hex">
            <div class="hex top"></div>
            <div class="hex middle"></div>
            <div class="hex bottom"></div>
        </div>
        <div class="hex">
            <div class="hex top"></div>
            <div class="hex middle"></div>
            <div class="hex bottom"></div>
        </div>
    </div>
    <div class="hex-row">
        <div class="hex">
            <div class="hex top"></div>
            <div class="hex middle"></div>
            <div class="hex bottom"></div>
        </div>
        <div class="hex">
            <div class="hex top"></div>
            <div class="hex middle"></div>
            <div class="hex bottom"></div>
        </div>
        <div class="hex">
            <div class="hex top"></div>
            <div class="hex middle"></div>
            <div class="hex bottom"></div>
        </div>
    </div>
    <div class="hex-row even">
        <div class="hex">
            <div class="hex top"></div>
            <div class="hex middle"></div>
            <div class="hex bottom"></div>
        </div>
        <div class="hex">
            <div class="hex top"></div>
            <div class="hex middle"></div>
            <div class="hex bottom"></div>
        </div>
        <div class="hex">
            <div class="hex top"></div>
            <div class="hex middle"></div>
            <div class="hex bottom"></div>
        </div>
        <div class="hex">
            <div class="hex top"></div>
            <div class="hex middle"></div>
            <div class="hex bottom"></div>
        </div>
    </div>
</div>
